<footer>
    <div class="conect">
        <a href="https://uni.mp.qq.com/page/jump?url=http%3A%2F%2Fpost.mp.qq.com%2Fhtml%2Fjumpto.html%3Fcmd%3D0%26puin%3D995269681">
            <div class="connect" style="background-position-x:0px;">
                <img class="img" style="" src="/static/images/qq.png" alt="">
            </div>
        </a>
        <a href="http://weixin.qq.com/r/MJlxkAIg4A4UTgizHsL5qKY">
            <div class="connect" style="background-position-x:-100px;">
                <img class="img" style="" src="/static/images/weixin.png" alt="">
            </div>
        </a>
        <a href="https://weibo.cn/u/3177818340">
            <div class="connect" style="background-position-x:-50px;">
                <img class="img" style="" src="/static/images/weibo.png" alt="">
            </div>
        </a>
    </div>
    <p>友情链接：<a href="http://www.sju.site">我的主页</a></p>
    <p>Copyright © 2021 Zero All Rights Reserved</p>
    <p>Powered by Wonder | 苏ICP备18023091号</p>
    <div id="btn_top">
        <a><img src="/static/images/scrollup.png" alt="返回顶部" /></a>
    </div>
</footer>

<script src="/static/js/footer.js" type="text/javascript" charset="utf-8"></script>