<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
<meta name="keywords" content="Zero影院">
<meta name="description" content="Zero影院">
<meta name="referrer" content="never">

<link rel="icon" type="image/x-icon" href="static/images/icon.ico">
<link href="static/css/smohan.face.css" type="text/css" rel="stylesheet">
<link href="static/css/semantic.min.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" href="static/css/style.css" media="all" type="text/css" />
<link rel="stylesheet" href="static/css/default.css" media="all" type="text/css" />
<link href="static/css/bootstrap.css" rel="stylesheet">
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.base64.min.js"></script>
<script src="static/js/jquery.cookie.js"></script>
<script src="static/js/js.js" type="text/javascript" charset="utf-8"></script>