<div class="mi_tag"{% if page == "index.html" %}
 style="margin-top:0px;"
{% endif %}>
    <div class="v-sort-nav">
        <div class="ct follow-align">
            <ul class="submenu_mi">
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?zhuanji">传记</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?maoxian">冒险</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?juqing">剧情</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?dongzuo">动作</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?donghua">动画</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?lishi">历史</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?guzhuang">古装</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?tongxing">同性</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?xiju">喜剧</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?qihuan">奇幻</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?home">家庭</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?kongbu">恐怖</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?xuanyi">悬疑</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?qingse">情色</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?jingsong">惊悚</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?zhanzheng">战争</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?aiqing">爱情</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?fanzui">犯罪</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?kehuan">科幻</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?yundong">运动</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?gewu">歌舞</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?jilupian">纪录片</a>
                </li>
                <li class="menu-item menu-item-type-taxonomy menu-item-object-movie_bt_tags"><a href="?zongyi">综艺</a>
                </li>
                <!-- Nav cache end -->
            </ul>
        </div>
    </div>
</div>