
<div id="user_info_modify" class="mikd">
    <ul class="navLi nav-tabs">
        <li><a href="/userInfo.html">个人信息</a></li>
        <li><a href="/modifyPwd.html">密码修改</a></li>
        <li><a href="/modifyEmail.html">邮箱修改</a></li>
        <li><a href="/userCollection.html">收藏管理</a></li>
        <li class="active"><a href="/userComment.html">评论管理</a></li>
    </ul>
    <div class="reg-box-pan display-inline">
        <div class="reg-box"style="margin-top:20px;">
            <div class="mikd" name="comments">
                <div class="mi_btcon" style="padding: 20px;">
                    <div class="bt_tit mi_ne_kd">
                        <h2><a href="#comments">全部评论（<span id="commentI">0</span>）</a><i class="fa"></i></h2>
                    </div>
                    <ol class="commentlist" id="commentlist">

                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let commentData = {{ data.user_comment|safe|default:"[]" }};
    if(commentData.length!=0) {
        for (let i = 0; i < commentData.length; i++) {
            addComments(commentData[i],1);
        }
    }
</script>