
<link href="/static/css/gloab.css" rel="stylesheet">
<link href="/static/css/register.css" rel="stylesheet">
<script src="/static/js/register.js"></script>
<form id="user_info_modify" class="mikd" onsubmit="return user_password_modify();">
    {% csrf_token %}
    <ul class="navLi nav-tabs">
        <li><a href="/userInfo.html">个人信息</a></li>
        <li class="active"><a href="/modifyPwd.html">密码修改</a></li>
        <li><a href="/modifyEmail.html">邮箱修改</a></li>
        <li><a href="/userCollection.html">收藏管理</a></li>
        <li><a href="/userComment.html">评论管理</a></li>
    </ul>
    <div class="reg-box-pan display-inline" id="user_password_modify">
        <div class="reg-box" id="verifyCheck" style="margin-top:20px;">
            <div class="item col-xs-12"> <span class="intelligent-label f-fl">旧密码：</span>
                <div class="f-fl item-ifo">
                    <input type="password" id="old_password" name="old_password" maxlength="20" class="txt03 f-r3 required" tabindex="3" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20" data-error="密码不能为空||密码长度6-20位" />
                    <span class="showpwd" data-eye="old_password"></span>
                    <label class="focus valid"></label>
                </div>
            </div>
            <div class="item col-xs-12"> <span class="intelligent-label f-fl">新密码：</span>
                <div class="f-fl item-ifo">
                    <input type="password" id="password" name="new_password" maxlength="20" class="txt03 f-r3 required" tabindex="3" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-20||level:2" data-error="密码不能为空||密码长度6-20位||该密码太简单，有被盗风险，建议字母+数字的组合"> <span class="ie8 icon-close close hide" style="right:55px"></span>
                    <span class="showpwd" data-eye="password"></span>
                    <label class="icon-sucessfill blank"></label>
                    <label class="focus">6-20位英文（区分大小写）、数字、字符的组合</label>
                    <label class="focus valid error"></label> <span class="clearfix"></span>
                    <label class="strength">
                        <span class="f-fl f-size12">安全程度：</span>
                        <b><i class="on">弱</i><i class="on">中</i><i class="on">强</i></b>
                    </label>
                </div>
            </div>
            <div class="item col-xs-12"> <span class="intelligent-label f-fl">确认密码：</span>
                <div class="f-fl item-ifo">
                    <input type="password" maxlength="20" class="txt03 f-r3 required" tabindex="4" style="ime-mode:disabled;" onpaste="return  false" autocomplete="off" data-valid="isNonEmpty||between:6-16||isRepeat:password" data-error="密码不能为空||密码长度6-16位||两次密码输入不一致" id="rePassword"> <span class="ie8 icon-close close hide" style="right:55px"></span>
                    <span class="showpwd" data-eye="rePassword"></span>
                    <label class="icon-sucessfill blank hide"></label>
                    <label class="focus">请再输入一遍上面的密码</label>
                    <label class="focus valid"></label>
                </div>
            </div>
            <div class="item col-xs-12 input"> <span class="intelligent-label f-fl">验证码：</span>
                <div class="f-fl item-ifo">
                    <input type="text" maxlength="4" name="randCode" class="txt03 f-r3 f-fl required" tabindex="4" style="width:167px" id="randCode" data-valid="isNonEmpty||isNonRandCode" data-error="验证码不能为空||验证码不符合要求"> <span class="ie8 icon-close close hide"></span>
                    <label class="f-size12 c-999 f-fl f-pl10" onclick="re_captcha();">
                        <img src="/api/captcha" style="width: 90px;height: 35px;" id="imgCode">
                    </label>
                    <label class="icon-sucessfill blank hide" style="left:380px"></label>
                    <label class="focusa" style="left: 270px;width: 100px;">看不清？<a href="javascript:;" onclick="re_captcha();" class="c-blue">换一张</a>
                    </label>
                    <label class="focus valid" style="left:370px"></label>
                </div>
            </div>
            <p style="margin-top: 10px;text-align: center;height: 20px;color: red;" id="error_msg"></p>
            <div class="item col-xs-12"> <span class="intelligent-label f-fl">&nbsp;</span>
                <div class="f-fl item-ifo">
                    <input type="submit" class="btn btn-blue f-r3" value="修改密码">
                </div>
            </div>
        </div>
    </div>
</form>