<html lang="zh-cn">
    
    <head>
        <title>Zero影院</title>
        {% include "include/head.html" %}
    </head>
    
    <body class="home">
        {% include "include/nav.html" %}
        <div class="pusher ui body play-body">
            <div class="all-filter-wrapper">
                <div class="ui container">
                    <dl> <dt>资源分类：</dt>
                        <dd> <a class="active" href="/s/kehuan">不限</a>  <a href="/s/kehuan?type=0">电影</a>  <a href="/s/kehuan?type=1">电视剧</a>
                        </dd>
                    </dl>
                    <dl> <dt>影视类型：</dt>
                        <dd> <a href="/s/all">不限</a>  <a href="/s/dongzuo">动作</a><a href="/s/aiqing">爱情</a><a href="/s/xiju">喜剧</a><a class="active" href="/s/kehuan">科幻</a><a href="/s/kongbu">恐怖</a><a href="/s/zhanzheng">战争</a><a href="/s/wuxia">武侠</a><a href="/s/mohuan">魔幻</a>
                            <a
                            href="/s/juqing">剧情</a><a href="/s/donghua">动画</a><a href="/s/jingsong">惊悚</a><a href="/s/3D">3D</a><a href="/s/zainan">灾难</a><a href="/s/xuanyi">悬疑</a><a href="/s/jingfei">警匪</a><a href="/s/wenyi">文艺</a><a href="/s/qingchun">青春</a><a href="/s/maoxian">冒险</a><a href="/s/fanzui">犯罪</a>
                                <a
                                href="/s/jilu">纪录</a><a href="/s/guzhuang">古装</a><a href="/s/qihuan">奇幻</a><a href="/s/guoyu">国语</a><a href="/s/zongyi">综艺</a><a href="/s/lishi">历史</a><a href="/s/yundong">运动</a><a href="/s/yuanchuang">原创压制</a><a href="/s/meiju">美剧</a><a href="/s/hanju">韩剧</a><a href="/s/guoju">国产电视剧</a>
                                    <a
                                    href="/s/riju">日剧</a><a href="/s/yingju">英剧</a><a href="/s/deju">德剧</a><a href="/s/eju">俄剧</a><a href="/s/baju">巴剧</a><a href="/s/jiaju">加剧</a><a href="/s/spanish">西剧</a><a href="/s/yidaliju">意大利剧</a><a href="/s/taiju">泰剧</a><a href="/s/gangtaiju">港台剧</a><a href="/s/faju">法剧</a>
                                        <a
                                        href="/s/aoju">澳剧</a>
                        </dd>
                    </dl>
                    <dl> <dt>制片地区：</dt>
                        <dd> <a class="active" href="/s/kehuan">不限</a>  <a href="/s/kehuan?area=%E5%A4%A7%E9%99%86">大陆</a><a href="/s/kehuan?area=%E4%B8%AD%E5%9B%BD%E9%A6%99%E6%B8%AF">中国香港</a><a href="/s/kehuan?area=%E4%B8%AD%E5%9B%BD%E5%8F%B0%E6%B9%BE">中国台湾</a><a href="/s/kehuan?area=%E7%BE%8E%E5%9B%BD">美国</a>
                            <a
                            href="/s/kehuan?area=%E8%8B%B1%E5%9B%BD">英国</a><a href="/s/kehuan?area=%E6%97%A5%E6%9C%AC">日本</a><a href="/s/kehuan?area=%E9%9F%A9%E5%9B%BD">韩国</a><a href="/s/kehuan?area=%E6%B3%95%E5%9B%BD">法国</a><a href="/s/kehuan?area=%E5%8D%B0%E5%BA%A6">印度</a><a href="/s/kehuan?area=%E5%BE%B7%E5%9B%BD">德国</a>
                                <a
                                href="/s/kehuan?area=%E8%A5%BF%E7%8F%AD%E7%89%99">西班牙</a><a href="/s/kehuan?area=%E6%84%8F%E5%A4%A7%E5%88%A9">意大利</a><a href="/s/kehuan?area=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A">澳大利亚</a><a href="/s/kehuan?area=%E6%AF%94%E5%88%A9%E6%97%B6">比利时</a><a href="/s/kehuan?area=%E7%91%9E%E5%85%B8">瑞典</a>
                                    <a
                                    href="/s/kehuan?area=%E8%8D%B7%E5%85%B0">荷兰</a><a href="/s/kehuan?area=%E4%B8%B9%E9%BA%A6">丹麦</a><a href="/s/kehuan?area=%E5%8A%A0%E6%8B%BF%E5%A4%A7">加拿大</a><a href="/s/kehuan?area=%E4%BF%84%E7%BD%97%E6%96%AF">俄罗斯</a>
                        </dd>
                    </dl>
                    <dl> <dt>上映时间：</dt>
                        <dd> <a class="active" href="/s/kehuan">不限</a>  <a href="/s/kehuan?year=2021">2021</a><a href="/s/kehuan?year=2020">2020</a><a href="/s/kehuan?year=2019">2019</a><a href="/s/kehuan?year=2018">2018</a><a href="/s/kehuan?year=2017">2017</a><a href="/s/kehuan?year=2016">2016</a>
                            <a
                            href="/s/kehuan?year=2015">2015</a><a href="/s/kehuan?year=2014">2014</a><a href="/s/kehuan?year=2013">2013</a><a href="/s/kehuan?year=2012">2012</a><a href="/s/kehuan?year=2011">2011</a><a href="/s/kehuan?year=2010">2010</a><a href="/s/kehuan?year=2009">2009</a><a href="/s/kehuan?year=2008">2008</a>
                                <a
                                href="/s/kehuan?year=2007">2007</a><a href="/s/kehuan?year=2006">2006</a><a href="/s/kehuan?year=2005">2005</a><a href="/s/kehuan?year=2004">2004</a><a href="/s/kehuan?year=2003">2003</a><a href="/s/kehuan?year=2002">2002</a><a href="/s/kehuan?year=2001">2001</a><a href="/s/kehuan?year=2000">2000</a>
                        </dd>
                    </dl>
                    <dl> <dt>影视排序：</dt>
                        <dd> <a class="active" href="/s/kehuan?order=0">更新时间</a>  <a href="/s/kehuan?order=1">豆瓣评分</a>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="ui container">
                <div class="ui eight doubling cards">
                    <div class="card">
                        <a class="image" href="/meiju/19479.htm" title="2021美剧《为全人类 第二季》更至04集.HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U473969bd99b1438e91b8adbef59c55c1N.jpg" referrerpolicy="no-referrer"> <span class="rate">8.7 分</span>  <span class="ep">更至04集</span>
                        </a>
                        <div class="content"> <span class="header">为全人类 第二季</span>
                            <div class="meta"> <span>2021-03-18</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/meiju/19438.htm" title="2021美剧《闪电侠 第七季》更至03集.HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Uafa6e83f94534d39b6b95bb1a4849b3f9.jpg" referrerpolicy="no-referrer"> <span class="rate">7.4 分</span>  <span class="ep">更至03集</span>
                        </a>
                        <div class="content"> <span class="header">闪电侠 第七季</span>
                            <div class="meta"> <span>2021-03-18</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/meiju/19331.htm" title="2021美剧《雪国列车(剧版) 第二季》更至08集.HD1080P.英语中英双字" target="_blank">
                            <img src="https://wework.qpic.cn/wwpic/553865_XSzj_OTjShWts99_1612944148/0" referrerpolicy="no-referrer"> <span class="rate">8.2 分</span>  <span class="ep">更至08集</span>
                        </a>
                        <div class="content"> <span class="header">雪国列车(剧版) 第二季</span>
                            <div class="meta"> <span>2021-03-18</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/kehuan/19542.htm" title="2021科幻动作《扎克·施奈德版正义联盟》HD720P&amp;HD1080P.英语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U6f5484a573584858a45c3cdc5b1d291e4.jpg" referrerpolicy="no-referrer"> <span class="rate">8.8 分</span>
                        </a>
                        <div class="content"> <span class="header">扎克·施奈德版正义联盟</span>
                            <div class="meta"> <span>2021-03-18</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/xuanyi/19534.htm" title="2020科幻悬疑《剩餐》HD720P&amp;HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U0c3d92dfa0c04b36bd55d520808a1e095.jpg" referrerpolicy="no-referrer">
                        </a>
                        <div class="content"> <span class="header">剩餐</span>
                            <div class="meta"> <span>2021-03-17</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/donghua/19511.htm" title="2013科幻动画《正义联盟：闪点悖论》BD720P&amp;BD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Ued2ae8fa519b49d0af2a3f0cd5e302d0h.jpg" referrerpolicy="no-referrer"> <span class="rate">8.6 分</span>
                        </a>
                        <div class="content"> <span class="header">正义联盟：闪点悖论</span>
                            <div class="meta"> <span>2021-03-15</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/deju/19509.htm" title="2020德剧《暗黑 第三季》8集全.HD1080P.德语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Uc9baa152b910408a8db22d64c5e269308.jpg" referrerpolicy="no-referrer"> <span class="rate">9.3 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">暗黑 第三季</span>
                            <div class="meta"> <span>2021-03-15</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/meiju/19508.htm" title="2020美剧《星际迷航：发现号》13集全.HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U722c88ae6a4d44749a24716e11bc31f8Z.jpg" referrerpolicy="no-referrer"> <span class="rate">7.7 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">星际迷航：发现号 第三季</span>
                            <div class="meta"> <span>2021-03-15</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/guoju/19376.htm" title="2021国剧《你好，安怡》30集全.HD1080P.国语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Ua154f4af3bf5427ba7c752792198d0340.jpg" referrerpolicy="no-referrer"> <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">你好，安怡</span>
                            <div class="meta"> <span>2021-03-14</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/hanju/19499.htm" title="2021韩剧《喜欢的话请响铃 第二季》6集全.HD1080P.韩语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U4d5702b05bcf44e39ca82901061569b7T.jpg" referrerpolicy="no-referrer"> <span class="rate">2.5 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">喜欢的话请响铃 第二季</span>
                            <div class="meta"> <span>2021-03-13</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/hanju/19373.htm" title="2021韩剧《西西弗斯：神话》更至08集.HD1080P.韩语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U7ddb75c8deea40cf82bade330cbdfca7x.jpg" referrerpolicy="no-referrer"> <span class="rate">7.2 分</span>  <span class="ep">更至08集</span>
                        </a>
                        <div class="content"> <span class="header">西西弗斯：神话</span>
                            <div class="meta"> <span>2021-03-13</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/donghua/19497.htm" title="2020日漫《石纪元 第二季》更至09集.HD1080P.日语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Uc86c383b8f9249598fb40a262ee67f31i.jpg" referrerpolicy="no-referrer"> <span class="rate">8.9 分</span>  <span class="ep">更至09集</span>
                        </a>
                        <div class="content"> <span class="header">石纪元 第二季</span>
                            <div class="meta"> <span>2021-03-13</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/donghua/19494.htm" title="2014科幻动画《正义联盟：战争》BD720P&amp;BD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U0f71ebb484364079bba7b0835f865067g.jpg" referrerpolicy="no-referrer"> <span class="rate">8.1 分</span>
                        </a>
                        <div class="content"> <span class="header">正义联盟：战争</span>
                            <div class="meta"> <span>2021-03-13</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/hanju/19267.htm" title="2021韩国科幻《LUCA：起源》12集全.HD1080P.韩语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U7bbb9862d690493689f6dff608d0030ce.jpg" referrerpolicy="no-referrer"> <span class="rate">7.0 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">LUCA：起源</span>
                            <div class="meta"> <span>2021-03-12</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/meiju/19321.htm" title="2021美剧《外星居民》更至06集.HD1080P.英语中英双字" target="_blank">
                            <img src="https://wework.qpic.cn/wwpic/725337_zl1WP9kNS3eZpOF_1612868031/0" referrerpolicy="no-referrer"> <span class="rate">8.3 分</span>  <span class="ep">更至06集</span>
                        </a>
                        <div class="content"> <span class="header">外星居民</span>
                            <div class="meta"> <span>2021-03-12</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/meiju/19414.htm" title="2021美剧《超人和露易斯》更至03集.HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U0d01cc01e1d641c08e72ca201ce077bbm.jpg" referrerpolicy="no-referrer"> <span class="rate">8.6 分</span>  <span class="ep">更至03集</span>
                        </a>
                        <div class="content"> <span class="header">超人和露易斯</span>
                            <div class="meta"> <span>2021-03-12</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/deju/19447.htm" title="2021德剧《欧罗巴部落》6集全.HD1080P.德语中字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U222adfbb8a714f2c9c0f3e58829fbfb4K.jpg" referrerpolicy="no-referrer"> <span class="rate">6.3 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">欧罗巴部落</span>
                            <div class="meta"> <span>2021-03-09</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/kehuan/19425.htm" title="2021科幻冒险《外星罪孽》HD720P&amp;HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Uef197cb64d914d57b92fc2bfaf356d9f3.jpg" referrerpolicy="no-referrer"> <span class="rate">3.4 分</span>
                        </a>
                        <div class="content"> <span class="header">外星罪孽</span>
                            <div class="meta"> <span>2021-03-04</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/yingju/19335.htm" title="2020英剧《城邦护卫队》8集全.HD1080P.英语中英双字" target="_blank">
                            <img src="https://wework.qpic.cn/wwpic/178227_ywmS05dWQBqX7vR_1613100563/0" referrerpolicy="no-referrer"> <span class="rate">8.0 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">城邦护卫队</span>
                            <div class="meta"> <span>2021-02-19</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/kehuan/19353.htm" title="2018美国科幻《邮购怪兽》HD720P&amp;HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/U96da9c4012ee48239b4654cbae4efe1bQ.jpg" referrerpolicy="no-referrer">
                        </a>
                        <div class="content"> <span class="header">邮购怪兽</span>
                            <div class="meta"> <span>2021-02-17</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/meiju/19095.htm" title="2020美剧《末日逼近》9集全.HD1080P.英语中英双字" target="_blank">
                            <img src="https://sc02.alicdn.com/kf/Ufd87342b11ba46648a4f9e4b6a78b82em.jpg" referrerpolicy="no-referrer"> <span class="rate">6.4 分</span>  <span class="ep">完结</span>
                        </a>
                        <div class="content"> <span class="header">末日逼近</span>
                            <div class="meta"> <span>2021-02-15</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/kehuan/19332.htm" title="2021科幻动作《三叠纪猎杀》HD720P&amp;HD1080P.英语中字" target="_blank">
                            <img src="https://wework.qpic.cn/wwpic/869357_m_iCMnjKQGqwEZT_1612972188/0" referrerpolicy="no-referrer">
                        </a>
                        <div class="content"> <span class="header">三叠纪猎杀</span>
                            <div class="meta"> <span>2021-02-10</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/kehuan/19288.htm" title="2021韩国科幻《胜利号》HD720P&amp;HD1080P.韩语中字" target="_blank">
                            <img src="https://wework.qpic.cn/wwpic/288002_wCjCN_nORVaD5aK_1612614866/0" referrerpolicy="no-referrer"> <span class="rate">6.7 分</span>
                        </a>
                        <div class="content"> <span class="header">胜利号</span>
                            <div class="meta"> <span>2021-02-06</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <a class="image" href="/kehuan/19286.htm" title="2021美国科幻《极乐》HD720P&amp;HD1080P.英语中字" target="_blank">
                            <img src="https://wework.qpic.cn/wwpic/611251_Tcjdcr5tTvyVjDJ_1612614128/0" referrerpolicy="no-referrer">
                        </a>
                        <div class="content"> <span class="header">极乐</span>
                            <div class="meta"> <span>2021-02-06</span>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui pagination menu"> <a class="disabled item">首页</a>  <a class="active item" href="/s/kehuan/1">1</a>  <a class="item" href="/s/kehuan/2">2</a>  <a class="item" href="/s/kehuan/3">3</a>  <a class="item" href="/s/kehuan/4">4</a>  <a class="item" href="/s/kehuan/5">5</a>  <a class="item"
                    href="/s/kehuan/57">尾页</a>
                </div>
            </div>
        </div>
        {% include "include/footer.html" %}
    </body>

</html>