
<!DOCTYPE html>
<html lang="zh">
 
<body>
<ul>
                            <li>
                                <a href="http://www.languang.co/movie/26309.html" target="_blank" style="height: 350.444px;">
                                    <img class="thumb lazy" src="https://wx2.sinaimg.cn/mw1024/a2946c2dly1g9v8w8z2n2j20u018gx6s.jpg" alt="鬼影特攻：以暴制暴" data-original="https://wx2.sinaimg.cn/mw1024/a2946c2dly1g9v8w8z2n2j20u018gx6s.jpg" style="display: inline;"> <span class="zoom-icon glyph-icon flaticon-media23"></span>
                                </a>
                                <div class="hdinfo"> <span class="qb">1080P</span>
                                </div>
                                <div class="rating">6.4</div>
                                 <h3 class="dytit"><a target="_blank" href="http://www.languang.co/movie/26309.html">鬼影特攻：以暴制暴</a></h3>
                                <p class="inzhuy">主演：瑞恩·雷诺兹,本·哈迪,梅拉尼·罗兰,亚德里亚·霍纳,戴夫·弗兰科,科里·霍金斯,塞巴斯蒂安·罗奇,曼努埃尔·加西亚-鲁尔福,詹姆斯·莫瑞,利奥·拉兹,埃莱娜·卡多纳,佩曼·莫阿迪,尤里·科洛科利尼科夫,金·柯尔德,丹尼尔·阿德博伊加,詹姆斯·卡罗尔·乔丹,康斯坦丁·格雷戈里,彼得·阿佩塞拉,托多尔·乔丹诺夫,里纳特·希什马塔林,莉迪亚·佛朗哥,罗杰·内瓦雷斯,Shubham Saraf,Sitara Attaie,Bahara Golestani</p>
                                <p class="nostag"
                                style="display: none;"></p>
                            </li>
                            <li>
                                <a href="http://www.languang.co/movie/21318.html" target="_blank" style="height: 350.444px;">
                                    <img class="thumb lazy" src="https://wx4.sinaimg.cn/mw1024/a2946c2dly1ftijq48w24j20rs13pqb6.jpg" alt="龙虾刑警" data-original="https://wx4.sinaimg.cn/mw1024/a2946c2dly1ftijq48w24j20rs13pqb6.jpg" style="display: inline;"> <span class="zoom-icon glyph-icon flaticon-media23"></span>
                                </a>
                                <div class="hdinfo"> <span class="qb">1080P</span><span class="furk">2016P</span>
                                </div>
                                <div class="rating">4.9</div>
                                 <h3 class="dytit"><a target="_blank" href="http://www.languang.co/movie/21318.html">龙虾刑警</a></h3>
                                <p class="inzhuy">主演：王千源,袁姗姗,刘桦,周游,周云鹏,张锦程,沈腾</p>
                                <p class="nostag" style="display: none;"></p>
                            </li>
                            <li>
                                <a href="http://www.languang.co/movie/26593.html" target="_blank" style="height: 350.444px;">
                                    <img class="thumb lazy" src="https://wx2.sinaimg.cn/mw1024/a2946c2dly1ggeql120h1j20kq0qoacw.jpg" alt="万夫莫敌" data-original="https://wx2.sinaimg.cn/mw1024/a2946c2dly1ggeql120h1j20kq0qoacw.jpg" style="display: inline;"> <span class="zoom-icon glyph-icon flaticon-media23"></span>
                                </a>
                                <div class="hdinfo"> <span class="qb">1080P</span>
                                </div>
                                 <h3 class="dytit"><a target="_blank" href="http://www.languang.co/movie/26593.html">万夫莫敌</a></h3>
                                <p class="inzhuy">主演：强尼·斯特朗,马克·扎罗,Paul Kennedy,弗拉基米尔库利奇</p>
                                <p class="nostag" style="display: none;"></p>
                            </li>
                            <li>
                                <a href="http://www.languang.co/movie/20655.html" target="_blank" style="height: 350.444px;">
                                    <img class="thumb lazy" src="http://wx4.sinaimg.cn/mw690/a2946c2dly1fjc8gevkmaj20rs12tk3v.jpg" alt="鲛珠传" data-original="http://wx4.sinaimg.cn/mw690/a2946c2dly1fjc8gevkmaj20rs12tk3v.jpg" style="display: inline;"> <span class="zoom-icon glyph-icon flaticon-media23"></span>
                                </a>
                                <div class="hdinfo"> <span class="qb">1080P</span><span class="furk">2016P</span><span class="qr">720P</span>
                                </div>
                                <div class="rating">4.2</div>
                                 <h3 class="dytit"><a target="_blank" href="http://www.languang.co/movie/20655.html">鲛珠传</a></h3>
                                <p class="inzhuy">主演：王大陆,张天爱,任达华,盛冠森,王迅,赵健,刘俊孝,释彦能,胡兵,何穗,蒋璐霞,杜奕衡,周一围</p>
                                <p class="nostag" style="display: none;"></p>
                            </li>
                            <li>
                                <a href="http://www.languang.co/movie/26111.html" target="_blank" style="height: 350.444px;">
                                    <img class="thumb lazy" src="https://wx4.sinaimg.cn/mw1024/a2946c2dly1g6cuojf5gzj20sc13o1kx.jpg" alt="扫毒2天地对决" data-original="https://wx4.sinaimg.cn/mw1024/a2946c2dly1g6cuojf5gzj20sc13o1kx.jpg" style="display: inline;"> <span class="zoom-icon glyph-icon flaticon-media23"></span>
                                </a>
                                <div class="hdinfo"> <span class="qb">1080P</span><span class="qr">720P</span>
                                </div>
                                <div class="rating">6.0</div>
                                 <h3 class="dytit"><a target="_blank" href="http://www.languang.co/movie/26111.html">扫毒2天地对决</a></h3>
                                <p class="inzhuy">主演：刘德华,古天乐,苗侨伟,林嘉欣,周秀娜,应采儿,陈家乐,卫诗雅,郑则仕,张国强,陈佩诗,狼森,欧阳靖,恭硕良,林家栋,李赏,张竣杰,李灿森</p>
                                <p class="nostag" style="display: none;"></p>
                            </li>
                        </ul>
{% include "include/head.html" %}
</body>	
